* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.header {
    background-color: #ff4040;
    color: white;
    width: 100%;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-item {
    margin: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f0f0f0;
}

.main-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    margin: 20px 0;
    flex: 1;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px;
}

.product, .big-box, .box {
    background-color: rgb(255, 65, 65);
    color: white;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 8px;
}

.product img, .box img, .big-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.product img {
    max-height: 250px;
}

.box img {
    max-height: 350px;
}

.big-box img {
    max-height: 700px;
}

.big-box h1 {
    font-size: 40px;
}

.big-box p {
    font-size: 27px;
}

.product h2, .product p, .big-box h1, .box h1 {
    margin-bottom: 10px;
}

.footer {
    background-color: #ff4040;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    bottom: 0;
    flex-shrink: 0;
}
.abrirLB{
    text-decoration: none;
}
#Ventana{
    display: none;
}
#Ventana:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}
.contenido{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}
.cerrarLB{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}
.abrirLBs{
    text-decoration: none;
}
#Ventanas{
    display: none;
}
#Ventanas:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}
.contenidos{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}
.cerrarLBs{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}
.abrirLBss{
    text-decoration: none;
}
#Ventanass{
    display: none;
}
#Ventanass:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}
.contenidoss{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}
.cerrarLBss{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}
.abrirLBsss{
    text-decoration: none;
}
#Ventanasss{
    display: none;
}
#Ventanasss:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}
.contenidosss{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}
.cerrarLBsss{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}
#top-navbar a {
    text-decoration: none;
    color: white;
}

#top-navbar a:hover {
    background-color: rgb(242, 238, 114);
    padding: 3px 10px;
    border-radius: 15px;
    color: black;
}

.navbar {
    background-color: #ff4040;
    color: rgba(255,229,244,255);
    border-radius: 50px;
    margin: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top-navbar {
    list-style-type: none;
    text-align: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    justify-content: center;
}

#top-navbar li {
    margin: 0px 2em;
    font-size: 20px;
}

.abrirLBssss{
    text-decoration: none;
}

#Ventanassss{
    display: none;
}

#Ventanassss:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}

.contenidossss{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}

.cerrarLBssss{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}

.abrirLBsssss{
    text-decoration: none;
}

#Ventanasssss{
    display: none;
}

#Ventanasssss:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}

.contenidosssss{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}

.cerrarLBsssss{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}

.abrirLBssssss{
    text-decoration: none;
}

#Ventanassssss{
    display: none;
}

#Ventanassssss:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}

.contenidossssss{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}

.cerrarLBssssss{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}

.abrirLBsssssss{
    text-decoration: none;
}

#Ventanasssssss{
    display: none;
}

#Ventanasssssss:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}

.contenidosssssss{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}

.cerrarLBsssssss{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}

.abrirLBssssssss{
    text-decoration: none;
}

#Ventanassssssss{
    display: none;
}

#Ventanassssssss:target{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
}

.contenidossssssss{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    margin: 0 auto;
}

.cerrarLBssssssss{
    align-self: flex-end;
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
}
  
footer h5 {
    font-weight: bold;
}
  
footer ul {
    list-style: none;
    padding-left: 0;
}
  
footer ul li {
    padding: 1em 0;
}
  
footer ul li a:hover {
    text-decoration: underline solid 1px white;
}
  